body {
    font-family: var(--font-zouldfxkaj);
}

.page-container {
  background-image: url(/img/texture.png);
  background-repeat: repeat;
}

.post-card {
  animation: post-in 0.2s var(--delay) backwards;
}
