---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 - 页面没找到">
    <h1 class="post-title">404 - 页面没找到</h1>
    <p>你想查看的页面已被转移或删除了, 要不要搜索看看:</p>
    <form method="get" action="/search">
        <p><input type="text" name="q" class="text" autofocus /> <button type="submit" class="submit">搜索</button></p>
    </form>
    <img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1688517018566/f5f10865-4b74-46bd-a2d3-8b6da86b31c3.jpeg" width="100%" />
</Layout>