---
---

<li id="theme-toggle">
  <i class="ri-sun-line"></i>
  <i class="ri-moon-line"></i>
</li>

<style>
  #theme-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  #theme-toggle .ri-moon-line {
    display: block;
  }
  #theme-toggle .ri-sun-line {
    display: none;
  }

  html.dark #theme-toggle .ri-sun-line {
    display: block;
  }
  html.dark #theme-toggle .ri-moon-line {
    display: none;
  }
</style>

<script>
  const themeToggle = document.getElementById('theme-toggle');

  themeToggle?.addEventListener('click', () => {
    document.documentElement.classList.toggle('dark');
    
    const isDark = document.documentElement.classList.contains('dark');
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  });
</script>
